/*fuentes*/

@font-face {
  font-family:'DancingScript';
	src:url('../fuentes/DancingScript-regular.otf');
}

/*body*/

body{
  font-family:'DancingScript';
  background: #02010a;
  text-align: center;
}

#contenido{
  text-align: center;
}

/*cabecera*/

header{
  background:  #5b7989;
  height: 30%;
  border-radius: 10px 10px 0 0;
}

header h1{
  text-align: center;
  color: white;
  padding: 2%;
  text-shadow:  2px 2px 2px #02010a;
}

/*menu*/

nav{
  padding-right: 5%;
  padding-top: 4%;
  text-align: center;
}

header nav ul{
  padding-left: 5%
}

header nav li{
  display: inline-block;
  padding-left: 10px;
}


header a{
  color: white;
  text-decoration: underline;
}

header a:hover, .active{
  text-decoration: none;
}


/*imagenes*/

#img1{
  background:  #82c3a6;
  text-align: center;
  padding: 20px 20px;
}

#img1 img{
  width: 80%;
}

#img2{
  background: #d5c75f;
  border: 1px;
  padding: 20px 20px;
}

#img2 a{
  color: black;
}

#img2 img{
  width: 80%;
  margin: 2%;
  margin-bottom: 10px;
}

#galeria{
  background:  #d5c75f;
  columns: 3;
  width: 100%;
  }

#galeria img{
  width: 80%;
  margin: 5%;
}


img{
  box-shadow: 2px 2px 0px 0px #02010a;
  -webkit-box-shadow-right: 2px 2px 0px 0px #02010a;
	-moz-box-shadow-right: 2px 2px 0px 0px #02010a;
}

/*filtros imagenes galeria*/

.g1 img{
  -webkit-filter:blur(10px);
  filter: blur(10px);
}

.g2, .g3, .g6 img{
  -webkit-filter:grayscale(100%);
  filter: grayscale(100%);
}

.g5 img{
  -webkit-filter:sepia(90%);
  filter: sepia(90%);
}

/*efectos imagenes*/

.imagen2 img:hover{
  transform: rotate(10deg);
  transition-duration: 1.5s;
  border: 2px;
  box-shadow:2px 2px 0px 0px #82c3a6;
  -webkit-box-shadow-right:2px 2px 0px 0px #82c3a6;
  -moz-box-shadow-right:2px 2px 0px 0px #82c3a6;
}

.imagen3 img:hover{
  transform: translate(20px,-5px);
  transition-duration: 1.5s;
  border: 2px;
  box-shadow:2px 2px 0px 0px #82c3a6;
  -webkit-box-shadow-right:2px 2px 0px 0px #82c3a6;
  -moz-box-shadow-right:2px 2px 0px 0px #82c3a6;
}

/*pie de pagina*/

footer{
    background: #C6d5c5;
    border-radius: 0 0 10px 10px;
    text-align: left;
    padding: 2%;
}

.contacto, .terminos, .social, .derechos{
  margin-left: 65px;
}

.contacto a, .social a{
  text-decoration: none;
  color: black;
}

.social img{
  height: 2.5%;
  padding-right: 3%;
  box-shadow: none;
}


/*version versión desktop*/

@media (min-width: 900px){
  #contenido{
    margin: 0 auto;
    width: 900px;
  }
  nav{
    float: right;
  }
  header{
    height: 20%;
  }
  header h1{
    float: left;
  }
  #img2{
    display: flex;
    flex-direction: row;
  }
  footer{
    display: flex;
    flex-direction: row;
  }
}

/*version versión movil*/

@media (max-width: 900px){
  #contenido{
    width: 100%;
  }

  #img1{
    text-align: center;
  }
  #img2{
    display: flex;
    flex-direction:column ;
  }
  #img2 img{
    width: 80%;
    text-align: center;
  }

  #galeria{
    background:  #d5c75f;
    columns: 1;
  }
}
